.small-12.columns
  %h3 #{ I18n.t 'home.title' }

.medium-12.columns
  %p #{ I18n.t 'home.paragraph1' }

.small-12.medium-6.columns
  %p #{ I18n.t 'home.paragraph2' }

.small-12.medium-6.columns
  %p #{ I18n.t 'home.paragraph3' }
